/* Global */
html {
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
}

/* Header */
header {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    height: 125px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #460080;
    color: #ebebeb;
    top: 0px;
    font-family: 'Bungee', cursive;
}

/* Navbar */
.dropbtn {
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 160px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdownItems {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}

.dropdownItems a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownItems a:hover {
    background-color: rgb(46, 46, 46);
    color: #ebebeb;
}

.dropdown:hover .dropdownItems {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(46, 46, 46);
}

.menuBar {
    background-color: #000000;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    margin-top: 0px;
}

/* Content */
h1 {
    text-align: center;
    padding: 50px;
    font-size: 3em;
}

.content {
    /*Temporary font color*/
    color: #ebebeb;
    height: 100%;
    margin: 0 auto;
    /*border: red 3px solid;*/
    overflow: auto;
    width: 75%;
    /*Temporary font color*/
}

table,
tr,
td {
    border: white solid 1px;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #8b8b8b80;
    padding: 8px 18px 8px 8px;
    text-align: left;
}

.table {
    width: 30%;
    margin-left: 60%;
}

.fullSizeImg {
    margin-top: 50px;
    opacity: .8;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.text {
    width: 50%;
    text-align: left;
    line-height: 120%;
    margin: 0 auto;
    font-size: 1.3em;
    background-color: #444343b2;
    border: 1px solid #ebebeb;
    padding: 20px;
    float: left;
}

#mainSection {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    max-width: 1285px;
    overflow: auto;
    clear: both;
}

.cardItems {
    /* pictures */
    width: 343px;
    display: block;
    height: auto;
    cursor: pointer;
    border-radius: 50%;
    float: left;
    margin: 10px 0px 10px 30px;
    padding: 0px;

}

.cards {
    /* whole cards */
    width: 400px;
    height: 565px;
    border: thin #98A886 solid;
    background-color: rgba(76, 87, 96, 0.74);
    border-collapse: collapse;
    margin: 10px 10px 10px 10px;
    float: left;
    padding-right: 5px;
}

.cardsFeed {
    /* Feedback card */
    width: 33%;
    height: auto;
    padding: 10px;
    /*text-align: left;*/
    color: #ebebeb;
    font-size: 1.3em;
    border: thin #98A886 solid;
    background-color: rgba(76, 87, 96, 0.74);
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 30px;
}

.cards:hover {
    background-color: rgba(96, 104, 112, 0.74);
}

.cardTitle {
    padding-top: 5px;
    color: #ebebeb;
    text-align: center;
    font-size: 34px;
}

.cardDescription {
    text-align: center;
    color: #ebebeb;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
}


/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    background-color: #460080;
    color: #ebebeb;
    text-align: center;
    margin-top: 100px;
}